@import "mogora-ui/style.css";
@import "tailwindcss";

@theme {
  --font-inter: "Bebas Neue", "sans-serif";
}

.scroll-bar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scroll-bar::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.scroll-bar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #666;
}
